FunctionList S S S A D U FILA FILP SR MS MU TP RV IV FILP \e

ConfigList
CONFIG: MAX_DEPTH -6 \e 
CONFIG: CHROMOSOME_MAXLENGTH 24 \e 
CONFIG: CHROMOSOME_MINLENGTH 8 \e 
CONFIG: SCALE_FILTER ON DIATONIC C
CONFIG: CHORD_FILTER ON C | F | G | C | A | D | G | C \e 
CONFIG: LOG_FILE_NAME LogData/fitnes_time_distances.log \e
\e
