FunctionList S S S D FILP FILP SR MU TP TP TP TP RV RV RV RV IV IV IV BARFIX44 BARFIX44 CAR CDR \e

ConfigList
CONFIG: MAX_DEPTH -2 \e 
CONFIG: CHROMOSOME_MAXLENGTH 15 \e 
CONFIG: CHROMOSOME_MINLENGTH 10 \e 
CONFIG: RHYTHM_FILTER ON 4/4 \e 
CONFIG: SCALE_FILTER ON DIATONIC C \e
CONFIG: CHORD_FIX OFF C | F | G | C | A | D | G | C \e
CONFIG: CHORD_HARMONIZE ON \e 
CONFIG: LOG_FILE_NAME LogData/fitnes_time_distances.log \e
\e
