FunctionList S S S D SR MS SR MS FILP TP TP RV RV RV RV IV IV IV \e

ConfigList
CONFIG: MAX_DEPTH -2 \e 
CONFIG: CHROMOSOME_MAXLENGTH 10 \e 
CONFIG: CHROMOSOME_MINLENGTH 4 \e 
CONFIG: MUTATION_REPLACING_NT_OFFSET 3 \e
CONFIG: RHYTHM_FILTER ON 4/4 \e 
CONFIG: SCALE_FILTER ON DIATONIC C \e
CONFIG: CHORD_FIX OFF C | F | G | C | A | D | G | C \e
CONFIG: CHORD_HARMONIZE ON \e 
CONFIG: LOG_FILE_NAME LogData/NHK_Individuals2/Yasu_fitnes_time_distances2.log \e
CONFIG: KEEP_INDIVIDUAL ON ALL LogData/NHK_Individuals2/ \e
\e
